#resultDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#videoCard {
    background-color: rgb(30, 30, 30);
    border-radius: 1em;
    padding: 1em;
    width: calc(30em);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

#videoCard:hover {
    background-color: rgb(35, 35, 35);
}

#videoTitle {
    color: white;
    text-decoration: none;
}

#videoCreator {
    color: white;
    text-decoration: none;
    font-size: small;
}

#videoThumbnail {
    width: 30em;
    border-radius: 1em;
    margin: 0em auto;
    display: none;
}